meta {
  -theme-display-name: "Stuntrocket";
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: auto;
}

/*
 * Window styles
 */
meta.window {
  background-color: #0e0e16;
  border-color: #0e0e16;
}

meta.titlebar {
  color: #c2b8ff;
  border-color: #12121c;
  background-color: #12121c;
}

meta.titlebar.inactive {
  background-color: #12121c;
}

meta.button {
  background: #0a0a10;
  border: #12121c;
  color: #ffffff;
}

meta.button.highlighted {
  background: #0a0a10;
  color: #ffffff;
}

meta.button.selected {
  color: #ffffff;
}

meta.button.highlighted.selected {
  color: #ffffff;
}

meta.textfield {
  background-color: #0a0a10;
  border-color: #12121c;
}

meta.textfield.highlighted {
  background-color: #0e0e16;
  border-color: #12121c;
}

/*
 * Document styles
 */
meta.document {
  background-color: #0e0e16;
  border-color: #0e0e16;
}

meta.document.button {
  background: #0a0a10;
  border: #12121c;
}

meta.document.button.disabled {
  background: #0a0a10;
}

meta.document.button.highlighted {
  background: #0a0a10;
}

meta.document.textfield {
  background-color: #0a0a10;
  border-color: #12121c;
}

meta.document.textfield.highlighted {
  background-color: #0e0e16;
  border-color: #12121c;
}

/* Text */
meta.text {
  color: #b0409f;
}

meta.text.invisible {
  color: #312630;
}

meta.text.selected {
  background-color: #2b2a5a;
}

meta.accent {
  /* color: #fdd46b; */
}

/* Cursor */
meta.cursor {
  background-color: #0a0a10;
}

/* Indentation Guides */
meta.indentguide {
  border-color: rgba(61, 152, 255, 0.9);
}

/* Gutter */
meta.gutter {
  color: #5d519e;
}

meta.gutter.selected {
  background-color: #0a0a10;
  color: #776bbd;
}

/*
 * Syntax styles
 */
keyword {
  color: #776bbd;
}

comment {
  color: #81657e;
  font-style: italic;
  font-weight: light;
}

processing {
  color: #776bbd;
}

declaration {
  /* color: hsl(210, 11%, 45%); */
  color: #d3b545;
}

bracket {
  color: rgba(61, 152, 255, 0.9);
  /* color: hsl(241, 42%, 66%); */
}

operator {
  /* color: $accent; */
  color: #c2b8ff;
}

invalid {
  background-color: #ff0040;
  color: #f8f8f1;
}

link {
  color: #eb8c52;
}

/* Values */
value.boolean {
  color: #d3b545;
  font-style: italic;
}

value.null {
  color: #81657e;
  font-style: italic;
}

value.number {
  color: #6facf1;
}

value.entity {
  color: #eb8c52;
  /* color: $primary_color; */
}

value.symbol {
  color: #d3b545;
}

/* Identifiers */
identifier.type {
  color: #d3b545;
}

identifier.global,
identifier.variable {
  /* color: hsl(345, 100%, 50%); */
  color: #eb8c52;
}

identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
  color: #a899fa;
}

identifier.key {
  color: #776bbd;
}

identifier.argument {
  color: #d3b545;
  /* color: $secondary_color; */
}

/* Strings */
string {
  color: #eb8c52;
}

string.key {
  color: #d3b545;
}

string-template {
  color: #d3b545;
}

string-template.value {
  color: #eb8c52;
}

regex {
  color: #b0409f;
}

regex.escaped {
  color: #b96dc0;
}

cdata {
  color: #6facf1;
}

/* Markup */
markup.heading {
  color: #ffffff;
}

markup.line {
  color: #d3b545;
}

markup.bold {
  color: #b0409f;
  font-weight: bold;
}

markup.italic {
  color: #eb8c52;
  font-style: italic;
}

markup.strikethrough {
  color: #eb8c52;
}

markup.list.item {
  color: #776bbd;
}

markup.code {
  border-radius: 4px;
  background-color: #0a0a10;
  border-color: #12121c;
}

markup.link {
  color: #d3b545;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: #b96dc0;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #b0409f;
}

/* Tags */
tag {
  color: #776bbd;
}

tag.framework {
  color: #a899fa;
}

tag.attribute.name {
  color: #c2b8ff;
}

tag.attribute.value {
  color: #eb8c52;
}

tag.attribute.value.link {
  color: #d3b545;
}

/* HTML */
html.tag {
  color: #4f4294;
}

html.tag.name {
  color: #776bbd;
}

html.tag.attribute.name {
  color: #c2b8ff;
}

/* Vue */
vue.html.tag.open,
vue.html.tag.close {
  color: #776bbd;
}

vue.html.tag.name {
  color: #d3b545;
  font-weight: bold;
}

vue.html.tag.attribute.shorthand-key {
  color: #b96dc0;
}

vue.html.tag.attribute.name,
vue.html.embedded.interpolation.bracket {
  color: #d3b545;
  font-weight: bold;
}

vue.html.tag.attribute.argument {
  color: #eb8c52;
  font-weight: bold;
}

vue.html.tag.attribute.modifier {
  color: #eb8c52;
}

/* Styles */
style.at {
  color: #eb8c52;
  font-weight: 900;
}

style.selector.element {
  font-weight: 900;
}

style.selector.identifier.id {
  color: #d3b545;
}

style.selector.identifier.class {
  color: #d3b545;
}

style.selector.pseudoclass {
  color: #776bbd;
}

style.selector.pseudoelement {
  color: #776bbd;
}

style.attribute.name {
  color: #c2b8ff;
}

style.value.number {
  color: #eb8c52;
}

style.value.color.hex {
  color: #eb8c52;
}

style.value.keyword {
  color: #b96dc0;
}

style.value.color.named {
  color: #d3b545;
}

style.value.identifier.function {
  color: #eb8c52;
}

/* Terminal */
terminal.black,
terminal.bright-black {
  color: #49536c;
}

terminal.red,
terminal.bright-red {
  color: #eb8c52;
}

terminal.green,
terminal.bright-green {
  color: #30cfb4;
}

terminal.yellow,
terminal.bright-yellow {
  color: #d3b545;
}

terminal.blue,
terminal.bright-blue {
  color: #6facf1;
}

terminal.magenta,
terminal.bright-magenta {
  color: #b0409f;
}

terminal.cyan,
terminal.bright-cyan {
  color: #30b7d9;
}

terminal.white,
terminal.bright-white {
  color: #ffffff;
}

/* JavaScript */
javascript.identifier.function {
  color: #776bbd;
  /* own functions */
}

javascript.identifier.core.function {
  color: #776bbd;
  /* core functions */
}

javascript.value.null {
  color: #81657e;
  font-style: italic;
}

/* Keywords */
javascript.keyword {
  color: #9182e3;
}

javascript.keyword.class {
  color: #c2b8ff;
  font-style: italic;
}

javascript.keyword.extends {
  color: #c2b8ff;
}

javascript.identifier.type.class.name,
javascript.identifier.type.class.superclass {
  color: #b96dc0;
  font-weight: normal;
}

/* Identifiers */
javascript.identifier.method,
javascript.identifier.function,
javascript.identifier.function.name {
  color: #eb8c52;
}

javascript.identifier.argument.name {
  color: #b96dc0;
  font-style: italic;
}

javascript.identifier,
javascript.identifier.name {
  color: #b96dc0;
}

javascript.identifier.property {
  color: #d3b545;
}

javascript.identifier.constant {
  color: #c2b8ff;
}

javascript.identifier.core.global {
  color: #d3b545;
}

javascript.identifier.core.function {
  color: #eb8c52;
  font-style: italic;
}

/* Values */
javascript.value.null {
  color: #81657e;
}

javascript.value.boolean {
  color: #a899fa;
}

javascript.value.number.hex {
  color: #b0409f;
}

javascript.value.number {
  color: #b0409f;
}

/* Strings */
javascript.string.backtick-quoted,
javascript.string.double-quoted,
javascript.string.single-quoted {
  color: #eb8c52;
}

javascript.string.regex {
  color: #d3b545;
}

/* Operators */
javascript.operator,
javascript.bracket,
javascript.comma,
javascript.semicolon,
javascript.separator {
  color: #c2b8ff;
}

/* PHP */
php.identifier.function {
  color: #b96dc0;
  /* #FDD46B own functions: not work */
}

php.identifier.core.function {
  color: #b0409f;
  /* #65C8F0 core functions */
}

php.value.null {
  color: #81657e;
  font-style: italic;
}

php.value.null {
  color: #81657e;
  font-style: italic;
}

php.value.boolean {
  color: #eb8c52;
  font-style: italic;
}

php.global,
php.variable {
  color: #d3b545;
}

/*********************
* advanced PHP
*********************/
/* Statics */
advphp.static.condition {
  /* if, else, elseif, foreach, ... */
  color: #a899fa;
  font-style: italic;
}

advphp.static.processor {
  /* echo, return, print, ... */
  color: #9182e3;
}

advphp.static.declaration {
  /* new, public, private, ... */
  color: #776bbd;
  font-style: italic;
}

advphp.static.import {
  /* include, require, ... */
  color: #9182e3;
}

advphp.static.constant {
  /* __DIR__, __METHOD__, ... */
  color: #9182e3;
}

advphp.static.wordOperator {
  /* AND, OR, XOR, ... */
  color: #a899fa;
}

/* WP Constants */
advphp.wp.keywords {
  color: #b96dc0;
}

/* CURL */
advphp.curl.keywords {
  color: #b96dc0;
}

/* SQL */
advphp.sql.keywords {
  color: #b96dc0;
}

/* Syntax */
advphp.operator {
  color: #9182e3;
}

advphp.bracket {
  color: #d3b545;
}

advphp.delimiter {
  color: #6facf1;
}

advphp.semicolon {
  color: #b0409f;
}

/* Variables */
advphp.identifier.variable.prefix {
  color: #d3b545;
}

advphp.identifier.variable.name {
  color: #d3b545;
}

advphp.identifier.variable.this {
  color: #b0409f;
}

advphp.string.variableSubstitution {
  color: #a899fa;
}

/* Functions */
advphp.identifier.function.keyword {
  color: #776bbd;
}

advphp.identifier.function.name {
  color: #c2b8ff;
}

advphp.string.block.delimiter {
  background-color: #c2b8ff;
}

advphp.identifier.parameter.prefix {
  color: #d3b545;
}

advphp.identifier.parameter.name {
  color: #d3b545;
}

/* Objects */
advphp.identifier.object.name {
  color: #b0409f;
}

/* Namespace */
advphp.definition.namespace {
  color: #b0409f;
}

advphp.string,
advphp.value.string,
advphp.string.doubleQuote,
advphp.string.singleQuote,
advphp.string.nowdoc,
advphp.string.heredoc {
  color: #eb8c52;
}

advphp.backTic.string {
  color: #eb8c52;
  font-style: italic;
}

/* XML */
xml.tag {
  color: #776bbd;
}

xml.tag.attribute.name {
  color: #d3b545;
}

xml.tag.attribute.value {
  color: #b0409f;
}
