meta {
  -theme-display-name: "Stuntrocket";
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: auto;
}

/*
 * Window styles
 */
meta.window {
  background-color: #0e0e16;
  border-color: #0e0e16;
}

meta.titlebar {
  color: #c2b8ff;
  border-color: #12121c;
  background-color: #12121c;
}

meta.titlebar.inactive {
  background-color: #12121c;
}

meta.button {
  background: #0a0a10;
  border: #12121c;
  color: #ffffff;
}

meta.button.highlighted {
  background: #0a0a10;
  color: #ffffff;
}

meta.button.selected {
  color: #ffffff;
}

meta.button.highlighted.selected {
  color: #ffffff;
}

meta.textfield {
  background-color: #0a0a10;
  border-color: #12121c;
}

meta.textfield.highlighted {
  background-color: #0e0e16;
  border-color: #12121c;
}

/*
 * Document styles
 */
meta.document {
  background-color: #0e0e16;
  border-color: #0e0e16;
}

meta.document.button {
  background: #0a0a10;
  border: #12121c;
}

meta.document.button.disabled {
  background: #0a0a10;
}

meta.document.button.highlighted {
  background: #0a0a10;
}

meta.document.textfield {
  background-color: #0a0a10;
  border-color: #12121c;
}

meta.document.textfield.highlighted {
  background-color: #0e0e16;
  border-color: #12121c;
}

/* Text */
meta.text {
  color: #a44696;
}

meta.text.invisible {
  color: #312630;
}

meta.text.selected {
  background-color: #2b2a5a;
}

meta.accent {
  /* color: #fdd46b; */
}

/* Cursor */
meta.cursor {
  background-color: #0a0a10;
}

/* Indentation Guides */
meta.indentguide {
  border-color: rgba(61, 152, 255, 0.9);
}

/* Gutter */
meta.gutter {
  color: #5d519e;
}

meta.gutter.selected {
  background-color: #0a0a10;
  color: #776bbd;
}

/*
 * Syntax styles
 */
keyword {
  color: #776bbd;
}

comment {
  color: #81657e;
  font-style: italic;
  font-weight: light;
}

processing {
  color: #776bbd;
}

declaration {
  /* color: hsl(210, 11%, 45%); */
  color: #d3b545;
}

bracket {
  color: rgba(61, 152, 255, 0.9);
  /* color: hsl(241, 42%, 66%); */
}

operator {
  /* color: $accent; */
  color: #c2b8ff;
}

invalid {
  background-color: #ff0040;
  color: #f8f8f1;
}

link {
  color: #db9366;
}

/* Values */
value.boolean {
  color: #d3b545;
  font-style: italic;
}

value.null {
  color: #81657e;
  font-style: italic;
}

value.number {
  color: #6facf1;
}

value.entity {
  color: #db9366;
  /* color: $primary_color; */
}

value.symbol {
  color: #d3b545;
}

/* Identifiers */
identifier.type {
  color: #d3b545;
}

identifier.global,
identifier.variable {
  /* color: hsl(345, 100%, 50%); */
  color: #db9366;
}

identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
  color: #a899fa;
}

identifier.key {
  color: #776bbd;
}

identifier.argument {
  color: #d3b545;
  /* color: $secondary_color; */
}

/* Strings */
string {
  color: #db9366;
}

string.key {
  color: #d3b545;
}

string-template {
  color: #d3b545;
}

string-template.value {
  color: #db9366;
}

regex {
  color: #a44696;
}

regex.escaped {
  color: #bb72b0;
}

cdata {
  color: #6facf1;
}

/* Markup */
markup.heading {
  color: #ffffff;
}

markup.line {
  color: #d3b545;
}

markup.bold {
  color: #a44696;
  font-weight: bold;
}

markup.italic {
  color: #db9366;
  font-style: italic;
}

markup.strikethrough {
  color: #db9366;
}

markup.list.item {
  color: #776bbd;
}

markup.code {
  border-radius: 4px;
  background-color: #0a0a10;
  border-color: #12121c;
}

markup.link {
  color: #d3b545;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: #bb72b0;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #a44696;
}

/* Tags */
tag {
  color: #776bbd;
}

tag.framework {
  color: #a899fa;
}

tag.attribute.name {
  color: #c2b8ff;
}

tag.attribute.value {
  color: #db9366;
}

tag.attribute.value.link {
  color: #d3b545;
}

/* HTML */
html.tag {
  color: #4f4294;
}

html.tag.name {
  color: #776bbd;
}

html.tag.attribute.name {
  color: #c2b8ff;
}

/* Vue */
vue.html.tag.open,
vue.html.tag.close {
  color: #776bbd;
}

vue.html.tag.name {
  color: #30cfb4;
  font-weight: bold;
}

vue.html.tag.attribute.shorthand-key {
  color: #bb72b0;
}

vue.html.tag.attribute.name,
vue.html.embedded.interpolation.bracket {
  color: #d3b545;
  font-weight: bold;
}

vue.html.tag.attribute.argument {
  color: #db9366;
  font-weight: bold;
}

vue.html.tag.attribute.modifier {
  color: #db9366;
}

/* Styles */
style.at {
  color: #db9366;
  font-weight: 900;
}

style.selector.element {
  font-weight: 900;
}

style.selector.identifier.id {
  color: #d3b545;
}

style.selector.identifier.class {
  color: #d3b545;
}

style.selector.pseudoclass {
  color: #776bbd;
}

style.selector.pseudoelement {
  color: #776bbd;
}

style.attribute.name {
  color: #c2b8ff;
}

style.value.number {
  color: #db9366;
}

style.value.color.hex {
  color: #db9366;
}

style.value.keyword {
  color: #bb72b0;
}

style.value.color.named {
  color: #d3b545;
}

style.value.identifier.function {
  color: #db9366;
}

/* Terminal */
terminal.black,
terminal.bright-black {
  color: #49536c;
}

terminal.red,
terminal.bright-red {
  color: #db9366;
}

terminal.green,
terminal.bright-green {
  color: #30cfb4;
}

terminal.yellow,
terminal.bright-yellow {
  color: #d3b545;
}

terminal.blue,
terminal.bright-blue {
  color: #6facf1;
}

terminal.magenta,
terminal.bright-magenta {
  color: #a44696;
}

terminal.cyan,
terminal.bright-cyan {
  color: #30b7d9;
}

terminal.white,
terminal.bright-white {
  color: #ffffff;
}

/* JavaScript */
javascript.identifier.function {
  color: #776bbd;
  /* own functions */
}

javascript.identifier.core.function {
  color: #776bbd;
  /* core functions */
}

javascript.value.null {
  color: #81657e;
  font-style: italic;
}

/* PHP */
php.identifier.function {
  color: #bb72b0;
  /* #FDD46B own functions: not work */
}

php.identifier.core.function {
  color: #a44696;
  /* #65C8F0 core functions */
}

php.value.null {
  color: #81657e;
  font-style: italic;
}

php.value.null {
  color: #81657e;
  font-style: italic;
}

php.value.boolean {
  color: #db9366;
  font-style: italic;
}

php.global,
php.variable {
  /* color: hsl(345, 100%, 50%); */
  color: #d3b545;
}

/* XML */
/* xml.tag {
color: #DA4551;
}
xml.tag.name {
}
xml.tag.attribute.name {
color: #FDD46B;
}
xml.tag.attribute.value {
  color: #d6f48f; 
} */
